Code/C#/项目/三层架构（Unity_Log4N_EF）/Meeting E Ticket Offline/Amway.OA.ETOffine.Web/Web References/OfflineService/ForRemotingWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recordID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivityResult" type="tns:MsetOfflineActivity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MsetOfflineActivity">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntitieBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RecordID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ActivitySn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ActivityName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRealName" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckingStatus" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TicketCount" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ActivityPeopleCount" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ActivityCity" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ActivityAddr" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StartTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ActivityCategory" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ActivityDetail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ActivitySubDetail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Updator" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdateDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="HostIp" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsHost" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdateHostTime" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntitieBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncStatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTicketList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recordID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTicketListResult" type="tns:ArrayOfMsetOfflineTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMsetOfflineTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MsetOfflineTicket" nillable="true" type="tns:MsetOfflineTicket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MsetOfflineTicket">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntitieBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RecordID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TicketID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TicketSn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TicketStatus" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckinIp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckinTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="AdaCard" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ImportTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTicketLogList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recordID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketLogListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTicketLogListResult" type="tns:ArrayOfMsetOfflineCheckingLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMsetOfflineCheckingLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MsetOfflineCheckingLog" nillable="true" type="tns:MsetOfflineCheckingLog" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MsetOfflineCheckingLog">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntitieBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RecordID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TicketSn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckinIp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckinTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="AdaCard" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckingStatus" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetActivitySoapIn">
    <wsdl:part name="parameters" element="tns:GetActivity" />
  </wsdl:message>
  <wsdl:message name="GetActivitySoapOut">
    <wsdl:part name="parameters" element="tns:GetActivityResponse" />
  </wsdl:message>
  <wsdl:message name="GetTicketListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTicketList" />
  </wsdl:message>
  <wsdl:message name="GetTicketListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTicketListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTicketLogListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTicketLogList" />
  </wsdl:message>
  <wsdl:message name="GetTicketLogListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTicketLogListResponse" />
  </wsdl:message>
  <wsdl:portType name="ForRemotingWebServiceSoap">
    <wsdl:operation name="GetActivity">
      <wsdl:input message="tns:GetActivitySoapIn" />
      <wsdl:output message="tns:GetActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketList">
      <wsdl:input message="tns:GetTicketListSoapIn" />
      <wsdl:output message="tns:GetTicketListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketLogList">
      <wsdl:input message="tns:GetTicketLogListSoapIn" />
      <wsdl:output message="tns:GetTicketLogListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ForRemotingWebServiceSoap" type="tns:ForRemotingWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivity">
      <soap:operation soapAction="http://tempuri.org/GetActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketList">
      <soap:operation soapAction="http://tempuri.org/GetTicketList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketLogList">
      <soap:operation soapAction="http://tempuri.org/GetTicketLogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ForRemotingWebServiceSoap12" type="tns:ForRemotingWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivity">
      <soap12:operation soapAction="http://tempuri.org/GetActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketList">
      <soap12:operation soapAction="http://tempuri.org/GetTicketList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketLogList">
      <soap12:operation soapAction="http://tempuri.org/GetTicketLogList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForRemotingWebService">
    <wsdl:port name="ForRemotingWebServiceSoap" binding="tns:ForRemotingWebServiceSoap">
      <soap:address location="http://localhost/WebService/ForRemotingWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ForRemotingWebServiceSoap12" binding="tns:ForRemotingWebServiceSoap12">
      <soap12:address location="http://localhost/WebService/ForRemotingWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>